/*
Developed by Cristo
v 1.0.2
*/
/* Container */
.container {
    width: 100%;
    max-width: 1230px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
}

.container-fluid {
    width: calc(100% - 30px);
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

a,
.btn,
button,
input {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

img {
    max-width: 100%;
}

/* colors */
.btn {
    font-size: 0.6rem;
    padding: 10px 14px;
    display: inline-block;
    background-color: #c8c8c8;
    color: #222;
    text-align: center;
}

.btn:hover {
    filter: brightness(1.1);
}

.btn.btn-primary {
    background-color: var(--c-primary);
    border-color: var(--c-primary);
    color: white;
}

.btn.btn-secondary {
    background-color: var(--c-secondary);
    border-color: var(--c-secondary);
    color: white;
}

.btn.btn-terciary {
    background-color: var(--c-terciary);
    border-color: var(--c-terciary);
    color: white;
}

.btn.btn-primary-border {
    background-color: transparent;
    border: 2px solid var(--c-primary);
    color: var(--c-primary);
}

.btn.btn-secondary-border {
    background-color: transparent;
    border: 2px solid var(--c-secondary);
    color: var(--c-secondary);
}

.btn.btn-terciary-border {
    background-color: transparent;
    border: 2px solid var(--c-terciary);
    color: var(--c-terciary);
}

.btn.btn-black {
    background-color: #000;
    border-color: #000;
    color: white;
}

.btn.btn-black-border {
    background-color: transparent;
    border: 2px solid black;
    color: black;
}

.c-primary {
    color: var(--c-primary);
}

.c-secondary {
    color: var(--c-secondary);
}

.c-terciary {
    color: var(--c-terciary);
}

.c-white {
    color: white;
}

.bg-primary {
    background-color: var(--c-primary);
}

.bg-secondary {
    background-color: var(--c-secondary);
}

.bg-terciary {
    background-color: var(--c-terciary);
}

.bg-black {
    background-color: black;
}


/* Grids */
.flex {
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    width: 100%;
}

.flex.flex-vcenter {
    align-items: center;
}

.flex.flex-center {
    justify-content: center;
}

.flex>* {
    padding: 10px;
    width: 100%;
    display: inline-block;
    position: relative;
}

.flex>.auto {
    width: auto;
}

@media (max-width:768px) {
    .flex {
        display: block;
    }
}

/*Tablet*/
@media screen and (min-width:768px) and (max-width:1250px) {
    .flex>* {
        width: calc(50% + -25px);
        display: inline-block;
        vertical-align: middle;
    }
}

.flex[class*="t-col-"] {
    flex-wrap: wrap;
}

.flex.t-col-2>* {
    width: calc(100% /2);
}

.flex.t-col-3>* {
    width: calc(100% /3);
}

.flex.t-col-4>* {
    width: calc(100% /4);
}

.flex.t-col-5>* {
    width: calc(100% /5);
}

.flex.t-col-6>* {
    width: calc(100% / 6);
}

.flex.t-col-7>* {
    width: calc(100% / 7);
}

.flex.t-col-8>* {
    width: calc(100% / 8);
}

.flex.t-col-9>* {
    width: calc(100% / 9);
}

.flex.t-col-10>* {
    width: calc(100% / 10);
}

.flex.t-col-11>* {
    width: calc(100% / 11);
}

.flex.t-col-12>* {
    width: calc(100% / 12);
}

/*Mobile*/
@media screen and (min-width:900px) {
    .flex .w10 {
        width: 10%;
    }

    .flex .w20 {
        width: 20%;
    }

    .flex .w30 {
        width: 30%;
    }

    .flex .w40 {
        width: 40%;
    }

    .flex .w50 {
        width: 50%;
    }

    .flex .w60 {
        width: 60%;
    }

    .flex .w70 {
        width: 70%;
    }

    .flex .w80 {
        width: 80%;
    }

    .flex .w90 {
        width: 90%;
    }
}

/*Mobile*/
@media screen and (max-width:900px) {

    /* resizes por default */
    .flex.t-col-2>* {
        width: calc(100% /1);
    }

    .flex.t-col-3>* {
        width: calc(100% /1);
    }

    .flex.t-col-4>* {
        width: calc(100% /2);
    }

    .flex.t-col-5>* {
        width: calc(100% /2);
    }

    .flex.t-col-6>* {
        width: calc(100% / 3);
    }

    .flex.t-col-7>* {
        width: calc(100% / 3);
    }

    .flex.t-col-8>* {
        width: calc(100% / 4);
    }

    .flex.t-col-9>* {
        width: calc(100% / 4);
    }

    .flex.t-col-10>* {
        width: calc(100% / 4);
    }

    .flex.t-col-11>* {
        width: calc(100% / 4);
    }

    .flex.t-col-12>* {
        width: calc(100% / 4);
    }

    /* resizes custom */
    .flex[class*="t-col-"] {
        display: flex;
    }

    .flex.m-col-2>* {
        width: calc(100% /2);
    }

    .flex.m-col-3>* {
        width: calc(100% /3);
    }

    .flex.m-col-4>* {
        width: calc(100% /4);
    }

    .flex.m-col-5>* {
        width: calc(100% /5);
    }

    .flex.m-col-6>* {
        width: calc(100% / 6);
    }

    .flex.m-col-7>* {
        width: calc(100% / 7);
    }

    .flex.m-col-8>* {
        width: calc(100% / 8);
    }

    .flex.m-col-9>* {
        width: calc(100% / 9);
    }

    .flex.m-col-10>* {
        width: calc(100% / 10);
    }

    .flex.m-col-11>* {
        width: calc(100% / 11);
    }

    .flex.m-col-12>* {
        width: calc(100% / 12);
    }
}

.flex-form>* {
    width: 100%;
    padding-bottom: 35px;
    position: relative;
}

/*Mobile*/
@media screen and (min-width:900px) {
    .show-mobile {
        display: none;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .flex-form {
        display: flex;
        flex-wrap: wrap;
        margin-left: -20px;
    }

    .flex-form label {
        display: block;
        padding-bottom: 10px;
    }

    .flex-form>* {
        width: 100%;
        padding-left: 20px;
        padding-bottom: 35px;
        position: relative;
    }

    .flex-form>*.f-col-2 {
        width: calc(100% / 2);
    }

    .flex-form>*.f-col-3 {
        width: calc(100% / 3);
    }

    .flex-form>*.f-col-4 {
        width: calc(100% / 4);
    }

    .flex-form>*.f-col-5 {
        width: calc(100% / 5);
    }

    .flex-form>*.f-col-6 {
        width: calc(100% / 6);
    }
}

/*Mobile*/
@media screen and (max-width:900px) {
    .hide-mobile {
        display: none !important;
    }
}

.animated-label label {
    position: absolute;
    top: 13px;
    padding-bottom: 0 !important;
    padding-left: 15px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    pointer-events: none;
}

.animated-label input:focus+label,
.animated-label input:not(:placeholder-shown)+label {
    transform: translateY(-30px);
    padding-left: 3px;
    font-size: 10px;
}

.youtube {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/***** Custom radio ****/
/* EMMET .custom-checkbox>input[type="checkbox"]+span */
.custom-checkbox input[type="checkbox"],
.custom-radio input[type="radio"] {
    display: none;
}

.custom-checkbox input[type="checkbox"]+span,
.custom-radio input[type="radio"]+span {
    display: inline-flex;
    vertical-align: middle;
    border: 1px solid #666;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-color: #fff;
}

.custom-radio input[type="radio"]+span {
    border-radius: 50%;
}

.custom-checkbox input[type="checkbox"]:checked+span,
.custom-radio input[type="radio"]:checked+span {
    border: 1px solid var(--c-primary);
    background: url("data:image/svg+xml,%3csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='check' class='svg-inline--fa fa-check fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='%23fff' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'%3e%3c/path%3e%3c/svg%3e") no-repeat center center/10px 15px var(--c-primary);
    -webkit-transition: all 0.2s ease;
}